# Chapter4

## 1. 두 수의 합 계산 함수:

### 두 수를 받아서 그 합을 반환하는 함수를 작성하세요.

In [3]:
add_numbers(3,5)

8

## 2. 문자열 역순 함수:

### 문자열을 입력받아 그 문자열을 역순으로 반환하는 함수를 작성하세요.

In [5]:
a = "abcdef"
reverse_string(a)

'fedcba'

## 3. 리스트의 평균 계산 함수:

### 숫자로 이루어진 리스트를 받아서 그 평균을 반환하는 함수를 작성하세요.

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
#numbers2 = []
calculate_average(numbers)

5.5

## 4. 팩토리얼 계산 함수:

### 양의 정수를 입력받아 그 수의 팩토리얼을 반환하는 함수를 작성하세요.

In [16]:
factorial(5)

120

## 5. 문자열 합체 함수:

### 두 문자열을 입력받아 이를 합체하여 반환하는 함수를 작성하세요.

In [18]:
str1 = "Hello"
str2 = "World!"
concatenate_strings(str1, str2)

'HelloWorld!'